// GENERAL VARS

$black: #000;
$white: #fff;

$garamond: 'Cormorant Garamond', garamond, serif;


// THEME VARS

$primary-color: $black;
$secondary-color: $white;

$primary-font-serif: $garamond;


// SITE VARS

$body-font-size: 16px;
$body-line-height: 1.875em;
$body-font-color: $black;
$body-font-family: $primary-font-serif;