@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,400i,700,700i');

// GENERAL VARS

$black: #000;
$white: #fff;

$garamond: 'Cormorant Garamond', Garamond, serif;


// THEME VARS

$primary-color: $black;
$secondary-color: $white;

$primary-font-serif: $garamond;


// SITE VARS

$body-font-size: 16px;
$body-line-height: 1.875em;
$body-font-color: $black;
$body-font-family: $primary-font-serif;

$body-border-width: 20px;

$pad-main: 20px;